* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.apptoolbar-nav-button{
    
}

.apptoolbar{

    z-index: 8;
    
}


.menu-wrapper {
 width:100%; 
    height:70px; 
    padding:5px; 
    bottom:5px;
    z-index: 2;
    float: left;
}
.appdrawer {
     z-index: 6;
     top: 55;
}

.FAB {
    z-index: 3;
    position: fixed;
    bottom: 4rem;
    right: 5rem;
    
}
/*this does do something to widgets */

.widget {
    /*border: 1px solid black;*/
    overflow: visible;
    position: relative;
    z-index: 2
}

.item {
    background-color: #c0392b;
}

.npc {
    background-color: #2980b9;
}

.encounter {
    background-color: #27ae60;
}

.locale {
    background-color: #f1c40f;
}

.react-grid-item.react-grid-placeholder {
    background: #222222;
}

.asset-widget-icon {
    float: left;
    margin: 0px;
    position: relative;
}

.asset-widget-normal-header {
    display: flex;
    flex-direction: column;

}

.asset-widget-full {
    display: flex;
    flex-direction: column;
}

.asset-widget-full-header {
    display: flex;
    flex-direction: column;
}

.asset-widget-name {
    position: relative;
    margin: 2px;
    font-size: 10pt;
}

.asset-widget-description {
    position: relative;
    margin: 2px 2px 2px 2px;
    font-size: 9pt;
}

.dice-widget {
    background: #22FFFF;
    position: relative;
    transition: all 200ms ease;
    transition-property: left, top;
}

.ranfiltrator-widget {
    background: #22FFFF;
    position: relative;
    transition: all 200ms ease;
    transition-property: left, top;
}

.dice-widget-roll-button {
   /* border: solid black 1px;
    width: 10px;
    height: 10px;
    float: left;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;*/
}

.dice-widget-roll-text {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.dice-widget-reset-button {
    
}

.dice-widget-sum-display {
    clear: left;
}
